<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <table class="table table-hover user-list">
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>
              <a class="btn btn-warning" data-method='POST' href="/users/delete/{{user.id}}">Destroy</a>
              <a class="btn btn-success" href="/users/{{user.id}}">Show</a>
            </td>
          </tr>
        {% endfor %}
      </table>
      <p>
        Create new users
        <form action="/users" method="POST" class="col-md-6">
          Username: <input type="text" name="username" class="form-control"><br>
          Password: <input type="text" name="password" class="form-control"><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </p>
    </body>
</html>
